.navigation {
  background: #ff6625;
}

.page-header .panel.wrapper {
  background-color: #000;
}

.page-header {
  background-color: #eee;
}

.nav-selections-item-content {
  background-color: #ff6625;
}

.navigation .level0 > .level-top {
  color: #fff;
}